<footer>
  <div class="container">
    <div class="footer-content">
      <!-- القسم الأول: عن المتجر -->
      <div class="footer-section about-us">
        <img src="imegs/logo-nadeed.png" alt="شعار نضيد الوشم" class="footer-logo">
        <p>متخصصون في بيع أجود أنواع التمور ومنتجاتها الفاخرة، نقدم لكم تجربة فريدة تجمع بين الأصالة والجودة العالية منذ سنوات عديدة.</p>
        <div class="social-links">
          <a href="https://www.facebook.com/nadedalwashm/" target="_blank" class="social-icon" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="https://x.com/nadeedalwashm?lang=ar" target="_blank" class="social-icon" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/nadeedalwashm" target="_blank" class="social-icon" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <!-- القسم الثاني: روابط سريعة -->
      <div class="footer-section quick-links">
        <h5 class="footer-title">روابط سريعة</h5>
        <ul>
          <li><a routerLink="/">الرئيسية</a></li>
          <li><a routerLink="/products">المنتجات</a></li>
          <li><a routerLink="/about">من نحن</a></li>
          <li><a routerLink="/contact">اتصل بنا</a></li>
          <li><a routerLink="/cart">سلة التسوق</a></li>
        </ul>
      </div>

      <!-- القسم الثالث: معلومات التواصل -->
      <div class="footer-section contact-info">
        <h5 class="footer-title">معلومات التواصل</h5>
        <ul>
          <li>
            <i class="fas fa-phone-alt"></i>
            <a href="tel:+966292931204" dir="ltr">+966 50 116 6755</a>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:info@nadeedalwashm.com">info@nadeedalwashm.com</a>
          </li>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <a href="https://maps.app.goo.gl/KowMU4FV8NW5MuhE7  " target="_blank">المملكة العربية السعودية</a>
          </li>
        </ul>
      </div>

      <!-- القسم الرابع: طرق الدفع -->
      <div class="footer-section payment-info">
        <h5 class="footer-title">طرق الدفع المعتمدة</h5>
        <div class="payment-methods">
          <img src="imegs/شعار-مدى-–-SVG.png" alt="Mada">
          <img src="imegs/visa.png" alt="Visa">
          <img src="imegs/card.png" alt="Mastercard">
          <img src="imegs/applepay.png" alt="Apple Pay">
        </div>
      </div>
    </div>

    <!-- الجزء السفلي من الفوتر -->
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} نضيد الوشم. جميع الحقوق محفوظة.</p>
    </div>
  </div>
</footer>
